{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div> 
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container mb-2 shopping-bag">
    <div class="row">
        <div class="col bag-title">
            <h2> Shopping Bag</h2>
            <hr class="w-50 mb-5">
        </div>
    </div>
    <div class="row">
        <div class="col">
            {% if bag_items %}
            <div class="table-responsive table-container rounded">
                <table class="table table-sm table-borderless">
                    <thead>
                        <tr class="table-header">
                            <th scope="col"></th>
                            <th scope="col">Product Information</th>
                            <th scope="col">Price</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Total</th>
                        </tr>
                    </thead>
                    {% for item in bag_items %}
                    <tr>
                        <td class="p-3 w-25">
                            <img class="img-fluid table-image" src="{{ item.product.image.url }}" >
                        </td>
                        <td class="py-3">
                            <p class="table-content product-name-bag"> <strong>{{ item.product.name }}</strong></p>
                            <p class="table-content">Size: {% if item.product.has_sizes %}{{ item.size|upper }}{% else %} N/A {% endif %}</p>
                        </td>
                        <td class="py-3">
                            <p class="table-content">£{{ item.product.price }}</p>
                        </td>
                        <td class="py-3">
                            <p class="table-content">{{ item.quantity }}</p>
                        </td>
                        <td class="py-3">
                            <p class="table-content">£{{ item.product.price }}</p>
                        </td>
                    </tr>
                    {% endfor %}
                    <tr class="delivery-container">
                        <td colspan="5" class="pt-5">
                            <hr class="w-50 mb-5">
                            <h6 class="mb-3"> Bag total: £{{ total|floatformat:2 }}</h6>
                            <h6 class="mb-3"> Delivery: £{{ delivery|floatformat:2 }}</h6>
                            <h4 class="mb-4">Total: £{{ grand_total|floatformat:2 }}</h4>
                            {% if free_delivery_delta > 0 %}
                                <p class="mb-1 text-danger"> 
                                    Spend £{{ free_delivery_delta }} to more to recieve free delivery!
                                </p>
                            {% endif %}
                        </td>
                    </tr>
                    <tr>
                        <td colspan="5" class="delivery-container">
                            <a href="{% url 'products' %}" class="btn bag-button rounded-2 btn-lg">
                                <span>
                                    Keep Shopping
                                </span>
                            </a>
                            <a href="" class="btn bag-button rounded-2 btn-lg">
                                <span> Secure Checkout</span>
                            </a>
                        </td>
                    </tr>
                </table>
            </div>
            {% else %}
            <div class="basket-empty">
                <p class="mb-5">Your bag is currently empty</p>
                <a href="{% url 'products' %}" class="btn bag-button rounded-2 btn-lg">
                    <span>Keep Shopping</span>
                </a>
            </div>
            {% endif %}
        </div>
    </div>
</div>
{% endblock%}