{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div> 
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container header-section">
    <div class="col-12 header-text">
        <h1>
           Shop Recycled Fashion
        </h1>
        <div class="shop-now-button">
            <a href="" class="shop-now-button btn btn-lg rounded-0 text-uppercase py-3">Shop Now</a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row benefits">
        <div class="col-12 benefits-title">
            <h1>Benefits of Sustainable fashion</h1>
        </div>
        <div class="col-lg-4 col-sm-12">
            <i class="fa-solid fa-seedling"></i>
            <h3 class="benefits-subtitle"> Saves Natural Resources</h3>
            <p class="benefits-text"> 80% of global deforestation is a result of agricultural production. Cotton is the most widely used
                natural fiber in fashion, it accounts for 2.5% of all agricultural areas. The fashion industry produces
                17-20% of all wastewater worldwide. Industrial water pollution comes from
                fabric manufacturing processes. And only 20% of globally produced wastewater receives proper treatment.
            </p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <i class="fa-solid fa-hands-holding-circle"></i>
            <h3 class="benefits-subtitle"> Defends human rights</h3>
            <p class="benefits-text">Many fashion brands and retailers still use sweatshop-like conditions to produce their clothes. They
                practice inhumane manufacturing methods to cheaply produce low-quality and disposable clothing for
                high-street stores.Factory workers, mostly young women and even children, are paid below the legal
                minimum wage, forced to
                work long hours (up to 100 hours a week) in unsafe environments. They don't have access to healthcare or
                paid leaves.</p>
        </div>
        <div class="col-lg-4 col-sm-12">
            <i class="fa-solid fa-earth-europe"></i>
            <h3 class="benefits-subtitle"> Reduces pollution and waste</h3>
            <p class="benefits-text">Clothing is piling up in landfills at an alarming rate. The fashion industry produces tons of waste and
                pollution every year. 16.9 million tons of used textile wastes are generated each year in the United
                States alone. Cheap synthetic materials such as polyester,
                nylon, or acrylic are especially dangerous. They aren't biodegradable and take up to thousands of years
                to decompose. As they break down, they release toxic gases, carbon dioxide, and methane, very potent
                greenhouse gases, into the atmosphere.</p>
        </div>
    </div>
</div>
<div class="new-in">
    <div class="row new-in-container">
        <div class="col-lg-4 col-sm-12">
            <a href="#" class="new-in-product new-in-product-1">
                <div class="new-in-image">
                    <picture>
                        <img src="/media/test1.png" alt="">
                    </picture>
                </div>
                <div class="new-in-details">
                    <div class="new-in-brand">
                        <strong> brand </strong>
                    </div>
                    <div class="new-in-name">
                        name
                    </div>
                </div>
            </a>
        </div>
        <div class="col-lg-4 col-sm-12 new-in-text">
            <h2 class="new-in-title">
                NEW ARRIVALS
            </h2>
            <a href="#"> <strong> Shop Now </strong></a>
        </div>
        <div class="col-lg-4 col-sm-12">
            <a href="#" class="new-in-product new-in-product-2">
                <div class="new-in-image">
                    <picture>
                        <img src="/media/test2.png" alt="">
                    </picture>
                </div>
                <div class="new-in-details">
                    <div class="new-in-brand">
                        <strong> brand </strong>
                    </div>
                    <div class="new-in-name">
                        name
                    </div>
                </div>
            </a>
        </div>
    </div>
</div>
<div class="container">
    <div class="row benefits">
        <div class="col-12 benefits-title">
            <h1>Benefits of Sustainable fashion</h1>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h3 class="benefits-subtitle"> Saves Natural Resources</h3>
            <p class="benefits-text"> 80% of global deforestation is a result of agricultural production. Cotton is the most widely used
                natural fiber in fashion, it accounts for 2.5% of all agricultural areas. The fashion industry produces
                17-20% of all wastewater worldwide. Industrial water pollution comes from
                fabric manufacturing processes. And only 20% of globally produced wastewater receives proper treatment.
            </p>
        </div>
        <div class="col-lg-6 col-sm-12">
            <h3 class="benefits-subtitle"> Defends human rights</h3>
            <p class="benefits-text">Many fashion brands and retailers still use sweatshop-like conditions to produce their clothes. They
                practice inhumane manufacturing methods to cheaply produce low-quality and disposable clothing for
                high-street stores.Factory workers, mostly young women and even children, are paid below the legal
                minimum wage, forced to
                work long hours (up to 100 hours a week) in unsafe environments. They don't have access to healthcare or
                paid leaves.</p>
        </div>
    </div>
</div>
{% endblock%}