{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div> 
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container header-section">
    <div class="row">
        <img class="img-responsive header-image"src="https://charreek-project-5.s3.eu-west-2.amazonaws.com/media/tobias-tullius-RhjVGxILcqE-unsplash1.jpg" alt="Forrest">
            <div class="col-12 header-text">
                <h1>Reworn</h1>
                <h3> Helping the planet one item at a time!</h3>
            </div>
    </div>
</div>
<div class="row text-section">
    <div class="col-12 title">
        <h1>Benefits of Sustainable fashion</h1>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="fa-solid fa-seedling fa-4x"></i>
        <h3 class="subtitle"> Saves Natural Resources</h3>
        <p class="text"> 80% of global deforestation is a result of agricultural production. Cotton is the most widely used
            natural fiber in fashion, it accounts for 2.5% of all agricultural areas. The fashion industry produces
            17-20% of all wastewater worldwide. Industrial water pollution comes from
            fabric manufacturing processes. And only 20% of globally produced wastewater receives proper treatment.
        </p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="fa-solid fa-hands-holding-circle fa-4x"></i>
        <h3 class="subtitle"> Defends human rights</h3>
        <p class="text">Many fashion brands and retailers still use sweatshop-like conditions to produce their clothes. They
            practice inhumane manufacturing methods to cheaply produce low-quality and disposable clothing for
            high-street stores.Factory workers, mostly young women and even children, are paid below the legal
            minimum wage, forced to
            work long hours (up to 100 hours a week) in unsafe environments. They don't have access to healthcare or
            paid leaves.</p>
    </div>
    <div class="col-lg-4 col-sm-12">
        <i class="fa-solid fa-earth-europe fa-4x"></i>
        <h3 class="subtitle"> Reduces pollution and waste</h3>
        <p class="text">Clothing is piling up in landfills at an alarming rate. The fashion industry produces tons of waste and
            pollution every year. 16.9 million tons of used textile wastes are generated each year in the United
            States alone. Cheap synthetic materials such as polyester,
            nylon, or acrylic are especially dangerous. They aren't biodegradable and take up to thousands of years
            to decompose. As they break down, they release toxic gases, carbon dioxide, and methane, very potent
            greenhouse gases, into the atmosphere.</p>
    </div>
</div>
<div class="new-in">
    <div class="row new-in-container">
        <div class="col-lg-4 col-sm-12">
            <div class="new-in-product new-in-product-1">
                <div class="new-in-product new-in-product-1">
                    <div class="top-box">
                    </div>
                    <div class="new-in-image">
                        <picture>
                            <img src="https://charreek-project-5.s3.eu-west-2.amazonaws.com/media/alex-haigh-fEt6Wd4t4j0-unsplash_1.jpg" alt="Graphic Tee shirt">
                        </picture>
                    </div>
                    <div class="new-in-details">
                        <div class="new-in-brand">
                            <strong> Graphic Tee </strong>
                        </div>
                        <div class="new-in-name">
                            £15
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-4 col-sm-12 new-in-text">
            <h2 class="new-in-title">
                NEW ARRIVALS
            </h2>
            <a href="{% url 'products' %}?category=dresses,tops,bottoms,jackets,coats" class="rounded-2 new-in-btn"> <strong> Shop Now </strong></a>
        </div>
        <div class="col-lg-4 col-sm-12 ">
            <div class="new-in-product new-in-product-2">
                <div class="new-in-image">
                    <picture>
                        <img src="https://charreek-project-5.s3.eu-west-2.amazonaws.com/media/miumiu.png" alt="pink blazer">
                    </picture>
                </div>
                <div class="new-in-details">
                    <div class="new-in-brand">
                        <strong> Pink blazer </strong>
                    </div>
                    <div class="new-in-name">
                        £50.99
                    </div>
                </div>
                <div class="bottom-box">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row text-section reduce-waste">
    <div class="col-12 title">
        <h1>How to reduce your waste</h1>
    </div>
    <div class="col-lg-6 col-sm-12">
        <i class="fa-solid fa-bag-shopping fa-4x"></i>
        <h3 class="subtitle">Rent</h3>
        <p class="text"> Want to keep up with the latest trends but dont want it to be sat in your
            wardrobe after one wear? Renting your clothing and accessories is the new way forward!
            This serivce is being picked up by several companies including Selfridges. This is the perfect solution
            for those of us who only wear an item once. This also means you can make a bit of exta cash on clothing
            you dont wear.
        </p>
    </div>
    <div class="col-lg-6 col-sm-12">
        <i class="fa-solid fa-scissors fa-4x"></i>
        <h3 class="subtitle">Mend</h3>
        <p class="text"> Now this not be for everyone but learning to fix and mend the clothing you have is
            a great skill to have.
            This also means you dont have to say goodbye to your favourite item due to it having a tiny hole in.
            Alternativley you can take it to a talior for a small price they will have it like new.
        </p>
    </div>
</div>
{% endblock%}