{% extends "base.html" %}
{% load static %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'profiles/css/profile.css' %}">
{% endblock %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div> 
    </div>
</div>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col checkout-title">
            <h2> My Profile</h2>
            <hr class="w-50 mb-5">
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-lg-6">
            <p> Saved Delivery Information</p>
            <form action="{% url 'profile' %}" method="POST" id="profile-update_form">
                {% csrf_token %}
                {{ form|crispy }}
                <button class="submit-button btn rounded-2"> Submit Updated Information</button>
            </form>
        </div>
        <div class="col-12 col-lg-6">
            <p>Previous Orders</p>
            {{ orders }}
        </div>
    </div>
    {{  profile}}
</div>
{% endblock %}
