html {
    height: 100%;
}
body {
    font-family: 'Quicksand', sans-serif;
}
.product-row{
    min-width: 100%;
}
a{
    color: #324934;
}
a:hover{
    color: #90b06d;
}
.header-container{
    padding-top: 74px;
}
.header-container-pp{
    padding-top: 200px;

}
/* logo */
.logo{
    height: 64px;
    padding-left:20px;
}
/* logo end*/

/* nav */
.topnav-bg{
    background-color: #000;
}
.nav-link{
    margin: 0;
    padding: 8px 10px;

}
.menu-nav-link{
    color: white;
    margin: 10px 60px ;
}
.navbar-toggler {
    border: 1px solid white;
}
.navbar{
padding: 0em 0.5em;
}
.navbar-collapse{
    margin-bottom: 10px;
}

@media (min-width:992px){

    .nav-link{
        margin: 0 10px;
        padding: 8px 16px;
    }
}
/* nav end */

/* dropdown menu  */
.dropdown-menu{
    background-color: #000;
}
.dropdown-item {
color: white;
}

/* dropdown menu end */

/* footer */
.footer{
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: black;
    overflow: hidden;
    position: fixed;
}
.footer li{
    display: inline;
    text-decoration: none;
}
.social-link{
    text-align: center;
    margin-top: 15px;
}

.footer a{
    color: white;
    padding-left: 40px;
}


/* footer end */

/* Header section */
.header-section{
    height: 250px;
    text-align: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    max-width: 1930px;
    padding: 0;
    display: block;
}

.header-image{
    width: 100%;
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.header-text {
    transform: translate(4%, 17%);
    z-index: 1;
    position: absolute;
    color: white;
    justify-content: center;
    margin: auto;
}


.text-section{
    justify-content: center;
    text-align: center;
    margin: 60px 80px;
    color: #324934;
}
.title{
    margin: 20px 0 70px;
    text-decoration: underline 2px #dfced4;
}
.subtitle {
    text-decoration: 2px underline #dfced4;
}
.text-section i {
    padding-bottom: 25px;
}
.reduce-waste{
    padding-bottom:100px;
}
/* header section end */


/* toast section */
.message-container{
    position: fixed;
    top: 72px;
    right: 15px;
    z-index: 999;
}
.custom-toast{
    overflow: visible;
}
.toast-capper{
    height: 12px;
}
.close{
    margin-left:85px;
}

.bag-notification{
    height: 150px;
    overflow-x: hidden;
    overflow-y: auto;
}

.checkout-btn{
    width: 100%;
    text-align: center;
    background-color: #90b06d;
}
.toast-header{
    display: block;
    color: #324934;
}
.toast-body{
    color: #324934;
}
/* toast section end */

/* icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.search{
    color: white;
}
/* icons end */

/* New in section */
.new-in{
    background-color: #dfced4;
    height: auto;
    overflow: hidden;
}

.new-in-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.new-in-product{
    justify-content: center;
    text-align: center;
    margin: 50px 0;
}

.new-in-text{
    text-align: center;
    justify-content: center;
    padding: 20px;
    color: #324934;
}

.new-in-title{
    padding-bottom: 70px;
}

.new-in-details{
    color: #324934;
    font-size: 20px;
}

.top-box{
    height: 20px;
    width: 250px;
    background-color: blue;
    top: 50%;
    left: 50%;
    transform: translate(-124px, -204px);
    position: absolute;
}
.bottom-box{
    height: 20px;
    width: 250px;
    background-color: lightpink;
    bottom: 50%;
    right: 50%;
    transform: translate(124px, 204px);
    position: absolute;
}
.new-in-image img{
    height: 250px;
    width: 250px;
}
.new-in-btn{
    background-color: #324934;
    color: #fff;
    border-radius: 15px;
    padding: 10px 60px;
    font-size: 20px;
    border: solid 2px #324934;
    margin: 30px;
}
.new-in-btn:hover{
    background-color: #fff;
    color: #324934;
    border: solid 2px #324934;
}

/* New in section end  */

/* Login & Logout */

.signin-out{
    padding-top: 150px;
    padding-bottom: 50px;
    margin: auto;
    text-align: center;
    width: 80%;
    color: #324934;
}
.sub-header{
    font-size: 22px;
}
.sub-header a {
    color: #90b06d;
    text-decoration: underline 1px solid;
}
.submit-button{
    background-color: #324934;
    color: #fff;
    border-radius: 15px;
    padding: 10px 60px;
    font-size: 20px;
    border: solid 2px #324934;
    margin: 30px;
}
.submit-button:hover{
    background-color: #fff;
    color: #324934;
    border: solid 2px #324934;
}

/* Login & Logout End */


.divider{
    background-color: #324934;
} 
/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }

}
@media (min-width:991px){
    .toast-capper{
        height: 60px;
    }
}
@media (min-width:517px){
    .header-text {
        transform: translate(0%, 80%);
        z-index: 1;
        position: absolute;
        color: white;
        justify-content: center;
        margin: auto;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 132px;
    }
    

}

/* BLog */
.blog-layout-main, 
.blog-layout{
    justify-content: center;
}

.blog-layout-main{
    padding: 30px 10px 0;
    margin-bottom: 100px;
}
.card-title{
    position:relative;
    text-decoration: none;
    margin: 25px 0px;
    display: inline;
}

.card-text{
    text-align: center;
}

.card-text:last-child {
    margin-bottom: 15px;
    padding-top: 20px;
}
.card-body{
    text-align: center;
}

.blog-post-home{
    border-bottom: 1px solid black
}

.image-container img{
    width: 100%;
    height: auto;
    border: 1px solid black;
    transition: transform 3.1s;
    opacity: 1;
}
.image-container{
    transition: transform ease-out;
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.5);
    margin-bottom:20px;
}
.image-container-pd img{
    width: 40%;
    height: auto;
    border: 1px solid black;
    transition: transform 3.1s;
    opacity: 1;
}
.image-container-pd{
    transition: transform ease-out;
    opacity: 1;
    margin-bottom:20px;
}


.shop-the-look{
    text-align: center;
    margin: 10px;
    text-decoration: underline solid 3px #324934;
}
.page-link{
    background-color: #324934;
    color: black;
    border-radius: 25px;
    border: black solid 2px;
}

.header-image{
    display: block;
    margin: auto;
}
.header-container{
    margin: 30px 0;
}


/* Comments */ 

textarea#id_body{
    height: 50px;
    width: 50%;
    margin: auto;
    padding: 10px;
}

.comment-title{
    justify-content: center;
    text-align: center;
    text-decoration: underline solid 1px #324934;
}

label.requiredField{
   display: none; 
   margin: 30px 10px;
}
.comment-link{
    text-decoration: underline 2px #324934;
}
.comment-section{
    margin-bottom: 150px;
}

/* 404 and 500 page */
.error-container{
    text-align: center;
}
.error-text{
    font-weight: 700;
    color: #324934;
}
/* 404 and 500 page end */


/* Contact form */ 

.contact-form-header{
    text-align: center;
}
.contact-form{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 50px;
}

.cf-header{
    margin: auto;
    text-align: center;
    width: 80%;
    color: #324934; 
    padding-bottom: 25px;
}
input#id_message{
    height: 200px;
}
input#id_message,
input#id_contact_email,
input#id_name{
    width: 60%;
}
/* Contact form end */ 
label{
    display: block;
    font-size: 1.2em;
    font-weight: 700;
    color: #324934;
}
input{
    width: 40%;
}