html {
    height: 100%;
}
body {
    font-family: 'Quicksand', sans-serif;
}
.product-row{
    min-width: 100%;
}
a:hover{
    color: #90b06d;
}
.header-container{
    padding-top: 80px;
}
.header-container-pp{
    padding-top: 200px;

}
/* logo */
.logo{
    height: 64px;
    padding-left:20px;
}
/* logo end*/

/* nav */
.topnav-bg{
    background-color: #000;
}
.nav-link{
    margin: 0 10px;
}
.menu-nav-link{
    color: white;
    margin: 10px 60px ;
}
.navbar-toggler {
    border: 1px solid white;
}
.navbar-toggler-icon{
    color: #dfced4;
}
/* nav end */

/* dropdown menu  */
.dropdown-menu{
    background-color: #000;
}
.dropdown-item {
color: white;
}

/* dropdown menu end */

/* Header section */
.header-section{
    height: 550px;
    text-align: center;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    max-width: 1930px;
    padding: 0;
   display: block;
}

.header-text{
    left: 25%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 1;
    position: absolute;
    color: white;
}
.shop-now-button{
    width: 100%;
    display: flex;
    align-items: center;
    margin: auto;
    justify-content: center;
}

.shop-now-button a {
    height: 40px;
    width: 200px;
    display: flex;
    border: 1px solid black;
    margin: 20px;
    transition: 300ms ease-out;
    background-color: bisque;
}

.shop-now-button a:hover {
 background-color: aqua;
 border: 1px solid pink;
}
.header-image{
    height: auto;
    width: 100%;
    background-position: center;
    z-index: -1;
}

/* header section end */

.text-section{
    justify-content: center;
    text-align: center;
    margin: 60px 80px;
    color: #324934;
}
.title{
    margin: 20px 0 70px;
    text-decoration: underline 2px #dfced4;
}
.subtitle {
    text-decoration: 2px underline #dfced4;
}
.text-section i {
    padding-bottom: 25px;
}

/* icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.search{
    color: white;
}
/* icons end */

/* New in section */
.new-in{
    background-color: #dfced4;
    height: auto;
    overflow: hidden;
}

.new-in-container{
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.new-in-product{
    justify-content: center;
    text-align: center;
    margin: 50px 0;
}

.new-in-text{
    text-align: center;
    justify-content: center;
    padding: 20px;
    color: #324934;
}

.new-in-text a{
    color: #324934;
    height: 60px;
    width: 200px;
    border: 1px solid #90b06d;
    margin: auto;
    padding: 20px 25px;
    justify-content: center;
    transition: 300ms ease-out;
    background-color: #90b06d;
    font-weight: 400;
    text-transform: uppercase;
}

.new-in-title{
    padding-bottom: 70px;
}

.new-in-details{
    color: #324934;
    font-size: 20px;
}

.top-box{
    height: 20px;
    width: 226px;
    background-color: purple;
    top: 50%;
    left: 50%;
    transform: translate(-113px, -193px);
    position: absolute;
}
.bottom-box{
    height: 20px;
    width: 226px;
    background-color: red;
    bottom: 50%;
    right: 50%;
    transform: translate(113px, 193px);
    position: absolute;
}
/* New in section end  */

/* product page */
.product-name{
font-size: 22px;
text-transform: uppercase;
}

.product-price{
    font-size: 20px;
    margin: auto;
}

.product{
    justify-content: center;
    text-align: center;
}

.card-body{
    padding: 0.75rem;
}

.card-footer{
    padding: 0;
}
.view-all a{
    color: #90b06d;
}

.btt-button {
    height: 42px;
    width: 42px;
    position: fixed;
    bottom: 10px;
    right: 10px;
    background-color: #dfced4;
}

.btt-link {
    cursor: pointer;
}

.badge {
    color: #324934;
    background-color: #dfced4;
    border: #324934;
}

.category-badge{
    font-size: 18px;
}
/* product page end */

/* product details page */
.product-text{
    font-size: 30px;
    margin: auto;
    padding-bottom: 25px;
}

.product-price-pd{
    font-size: 25px;
    margin: auto;
    padding-bottom: 25px;
}

.product-description{
    margin: 20px 0;
}
/* product details page end */

/* Login & Logout */

.signin-out{
    padding-top: 150px;
    margin: auto;
    text-align: center;
    width: 80%;
    color: #324934;
}
.sub-header{
    font-size: 22px;
}
.sub-header a {
    color: #90b06d;
    text-decoration: underline 1px solid;
}
.submit-button{
    background-color: #dfced4;
    color: #324934;
    border-radius: 15px;
    padding: 10px 60px;
    font-size: 20px;
    border: solid 2px #324934;
    margin: 30px;
}

/* Login & Logout End */

/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 128px;
    }
    
    

}