html {
    height: 100%;
}

body {
    font-family: 'Quicksand', sans-serif;
}
/* logo */
.logo{
    height: 64px;
    padding-left:20px;
}
/* logo end*/

/* nav */
.topnav-bg{
    background-color: #000;
}
.nav-link{
    margin: 0 10px;
}
.menu-nav-link{
    color: white;
    margin: 0 60px ;
}
.navbar-toggler {
    border: 1px solid white;
}
/* nav end */

/* dropdown menu  */
.dropdown-menu{
    background-color: #000;
}
.dropdown-item {
color: white;
}
/* dropdown menu end */

/* icons */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}
.search{
    color: white;
}

/* icons end */

/* hr */

hr{
    width: 60%;
    border:1px solid #90b06d;
}
/* hr end */

/* product slider */
.swiper {
    width: 70%;
    height: 50%;
    margin-top: 20px;
    margin-bottom: 40px;
    z-index: 0;
}
/* Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
    
    

}