.products{
    padding-bottom: 200px;
}

/* product page */
.product-name{
    font-size: 22px;
    text-transform: uppercase;
    }
    
    .product-price{
        font-size: 20px;
        margin: auto;
    }
    
    .product{
        justify-content: center;
        text-align: center;
    }
    .card-body{
        padding: 0.75rem;
    }
    
    .card-footer{
        padding: 0;
    }
    .view-all a{
        color: #90b06d;
    }
    
    .btt-button {
        height: 42px;
        width: 42px;
        position: fixed;
        bottom: 100px;
        right: 10px;
        background-color: #90b06d;
    }
    
    .btt-link,
    .update-link,
    .remove-item {
        cursor: pointer;
    }
    .update-link{
        padding-right: 10px;
    }
    .decrement-qty,
    .increment-qty{
        padding: 5px;
    }
    
    .badge {
        color: #324934;
        background-color: #dfced4;
        border: #324934;
    }
    
    .category-badge{
        font-size: 18px;
    }
    #sort-selector{
        border: #324934 1px solid;
    }
    /* product page end */
    
/* product details page */
    .product-text{
        font-size: 30px;
    }
    
    .product-price-pd{
        font-size: 25px;
    }
    .product-description{
        margin: 20px 0;
    }

    .atb-button{
        width: 80%;
        display: flex;
        align-items: center;
        margin: auto;
        justify-content: center;
        height: 40px;
        display: flex;
        border: 1px solid #324934;
        margin: 20px;
        transition: 300ms ease-out;
        background-color: #324934;
        color: white;
    }
    
    .atb-button:hover {
     background-color:#dfced4;
     border: 1px solid #dfced4;
     color: #324934;
    }
    .product-size{
        border: 1px solid #324934;
        padding: 6px;
        border-radius: 4px;
        width: 80%;
    }
    .qty_input{
        border: 1px solid #324934;
    }
    .fa-plus,
    .fa-minus{
        color: white;
    }

    .increment-qty,
    .decrement-qty{
        background-color: #324934;
    }

    .input-group-bag{
        width: 70%;
        margin: auto;
    }

    .quantity-size{
        display: flex;
    }
    .form-group{ 
        width: 80%;
    }

    .edit-delete{
        margin: 10px;
    }
/* product details page end */

/* product management */
.product-m-title{
    text-align: center;
}
.form-field{
    justify-content: center;
    margin: auto;
    padding-bottom: 100px;
}

.pm-buttons{
    justify-content: center;
    height: 40px;
    width:37%;
    border: 1px solid #324934;
    margin: 20px;
    transition: 300ms ease-out;
    background-color: #324934;
    color: white;
}
.pm-buttons:hover{
    background-color: #fff;
    color: #324934;
    border: 1px solid #324934;
}