<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="menu-nav-link " href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="{% url 'products' %}?category=dresses" class="dropdown-item">Dresses</a>
                <a href="{% url 'products' %}?category=tops" class="dropdown-item">Tops</a>
                <a href="{% url 'products' %}?category=bottoms" class="dropdown-item">Bottoms</a>
                <a href="{% url 'products' %}?category=jackets,coats" class="dropdown-item">Jackets &amp; Coats</a>
                <a href="{% url 'products' %}?category=dresses,tops,bottoms,jackets,coats" class="dropdown-item">All Clothing</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-nav-link" href="#" id="Accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Accessories-link">
                <a href="{% url 'products' %}?category=hair_accessories" class="dropdown-item">Hair Accessories</a>
                <a href="{% url 'products' %}?category=bags" class="dropdown-item">Bags</a>
                <a href="{% url 'products' %}?category=scarfs" class="dropdown-item">Scarfs</a>
                <a href="{% url 'products' %}?category=hair_accessories,bags,scarfs" class="dropdown-item">View All Accessories</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-nav-link" href="{% url 'blog_post' %}">Blog</a>
        </li>
    </ul>
</div>