<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="menu-nav-link" href="#" id="new-in" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                New In
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="new-in">
                <a href="" class="dropdown-item">Clothing</a>
                <a href="" class="dropdown-item">Footwear</a>
                <a href="" class="dropdown-item">Accessories</a>
                <a href="{% url 'products' %}" class="dropdown-item">View All </a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-nav-link " href="#" id="clothing-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Clothing 
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="clothing-link">
                <a href="" class="dropdown-item">Dresses</a>
                <a href="" class="dropdown-item">Tops</a>
                <a href="" class="dropdown-item">Bottoms</a>
                <a href="" class="dropdown-item">Jackets &amp; Coats</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-nav-link" href="#" id="footwear-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Footwear
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="footwear-link">
                <a href="" class="dropdown-item">Heels</a>
                <a href="" class="dropdown-item">Boots</a>
                <a href="" class="dropdown-item">Trainer</a>
                <a href="" class="dropdown-item">View All Footwear</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="menu-nav-link" href="#" id="Accessories-link" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Accessories
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="Accessories-link">
                <a href="" class="dropdown-item">Hair Accessories</a>
                <a href="" class="dropdown-item">Bags</a>
                <a href="" class="dropdown-item">Scarfs</a>
                <a href="" class="dropdown-item">View All Accessories</a>
            </div>
        </li>
    </ul>
</div>