{% extends 'base.html' %} {% block content %}

{% load crispy_forms_tags %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div> 
    </div>
</div>

<div class="container">
    <div class="col m-4 pb-3">
        <div class="row justify-content-start">
            <div class="card-body">
                <div class="image-container-pd">
                    <img class="card-img-top" src="{{ post.image.url }}" alt="{{ post.title }}">
                </div>
                <div class="col-sm-12 align-self-center">
                    <h2 class="card-title">{{ post.title }}</h2>
                    <div class="card-text">
                        {{ post.content | safe }}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <hr>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12  mb-4  mt-3">
            <div class="card-body comment-section">
                <h5 class="comment-title"> <i class="fa-solid fa-comment-dots">  </i>  Comments: </h5>
                {% for comment in comments %}
                <div class="comment-container">
                    {{ comment.body | linebreaks }} 
                    <h5 >
                        {{ comment.name }}
                        <span>
                            {{ comment.created_on }}
                        </span>
                    </h5>
                </div>
                {% endfor %}

                {% if commented %}
                <div class="alert alert-success" role="alert">
                    Your comment is awaiting approval
                </div>
                {% else %}

                {% if user.is_authenticated %}
                <h5>Share your thoughts:</h5>
                <form method="post">
                    <div class="crispy_form">
                        {{ comment_form | crispy }}
                        {% csrf_token %}
                    </div>
                    <button type="submit" class="btn btn-signup submit-button">Submit</button>
                </form>
                {% else %}
                <div> 
                    <a class="comment-link" href="{% url 'account_login' %}"> Sign in </a> or <a class="comment-link" href="{% url 'account_signup' %}">Register</a> to get involved in the conversation 
                </div>
                {% endif %}
                {% endif %}
            </div>
        </div>
    </div>
</div>

{% endblock content %}