{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div> 
    </div>
</div>

{% endblock %}

{% block content %}
<div>
    <h1>
        500 Server Error
    </h1>
    <h3>
        oh no! Looks like soemthing has gone wrong.
    </h3>
    <h3>
        Please try again later
    </h3>
</div>
<hr class="w-50 mb-1 divider">
<div>
    <h3> Go back to the Homepage</h3>
    <button class="submit-button" type="submit">{% url "home" %}</button>
</div>
{% endblock%}