.order-summary{
    text-align: left;
    color: #324934;
}
.order-summary-header{
    text-decoration: underline;
}

.checkout-title{
    text-align: center;
    color: #324934;
}
.container{
    color: #324934;
}

.form-control{
    width: 80%;
    display: inline-flex;
}

.checkout-button{
    background-color: #324934;
    color: #fff;
    padding: 10px;
    font-size: 20px;
    border: solid 2px #324934;
    margin: 10px;
}
.checkout-button:hover{
    background-color: #fff;
    color: #324934;
    padding: 10px;
    font-size: 20px;
    border: solid 2px #324934;
    margin: 10px;
}
.promo-row{
    text-align: center;
    display: block;
}
.blog-button{
    border: 2px solid #324934;
    margin: 5px 20px;
}
.blog-header{
    margin: 60px;
}

.blog-header p {
    margin-bottom: 30px;
}
.blog-btn-container{
    margin: 50px;
}
.confirmation-text{
    margin-top: 50px;
    font-size: 20px;
}
/* stripe payment  */
.StripeElement,
.stripe-style-input {
  box-sizing: border-box;
  border: 1px solid #324934;
  height: 45px;
  padding: 10px 15px;
  -webkit-transition: box-shadow 150ms ease;
  transition: box-shadow 150ms ease;
  width: 80%;
  margin: auto;
}

.StripeElement--webkit-autofill {
  background-color: #fefde5 !important;
}

.stripe-style-input::placeholder {
    color: #aab7c4;
}
/* stripe payment end */
#loading-overlay {
	display: none;
	position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #90b06d;
    z-index: 9999;
}

.loading-spinner {
	display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    height: 100%;
}

.order-confirmation-wrapper{
    text-align: left;
    justify-content: center;
    margin: auto;
}
.order-conf{
    justify-content: center;
    margin: auto;
}