.bag-title{
    text-align: center;
}
.bag-title h2{
    margin: 25px 0;
}

.table-container{
    width: 100%;
    justify-content: center;
    margin: auto;
    color: #324934;
    text-align: center;
}
.basket-empty{
    width: 100%;
    margin: auto;
    text-align: center;
    justify-content: center;
}
.basket-empty p{
    font-size: 20px;
}
.table-content{
    margin: 10px 0;
    color: #324934;
    
}
.table-header{
    color: #324934;
    font-size: 18px;
}
.bag-button{
    border: 2px solid #324934;
    background-color: #324934;
    color: #fff;
    margin: 5px 20px;
}
.bag-button:hover{
    border: 2px solid #324934;
    background-color: #fff;
    color: #324934;
    margin: 5px 20px;
}
.delivery-container{
    justify-content: center;
    text-align: center;
}
.product-name-bag{
    text-decoration: underline 1px #324934;
    font-size: 17px;
}
.shopping-bag{
    color: #324934;
    text-align: center;
    padding-bottom: 100px;
}
.img-fluid{
    max-width: 80%;
}
.free-delivery{
    color: #90b06d;
    font-size: 20px;
}
.fa-plus,
.fa-minus{
    color: white;
}
.increment-qty,
.decrement-qty{
    background-color: #324934;
}
.update-delete{
    margin: auto;
    width: 80%;
}
.input-group-bag{
    width: 70%;
    margin: auto;
}

@media (min-width:768px){
    .table-container{
        width: 80%;
    }

}